<div class="container-fluid p-0 m-0 bg-gray">
  <!-- latest movies -->
<!-- <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="latestMovies">
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{{latestMovies?.backdrop_path}}" alt="slide">
        

      </div>

    </div>
    
  </div> -->

<!-- trending movies  -->

<div class="row  pt-2 px-2 text-white " style="background-color: gray;">
  <h6>Trending Movies</h6>
<div class="rowposter">

  <div class="col-md-2 mt-2 m-1" *ngFor="let movie of TrendingMovies?.results;let i=index">
    <div class="card bg-dark" >
        <img class="card-img-top" src="{{movie?.backdrop_path}}" alt="slide" (click)="movieByID(movie.id)" >
        <!-- <iframe *ngIf="id" [src]="youTubeUrl" width="600" height="400" frameborder="0"></iframe> -->



          <div class="card-body">
  
      
             <h5 class="card-title">{{movie.title}}</h5>
             <p><span class="text-warning">Rating</span> : {{movie.vote_average}}</p>
             <p>Language : <span class="p-1" style="color: #424242;"><b> {{movie.original_language}}</b></span></p>
             <button class="btn btn-outline-info"  (click)="iFrameVideo(movie.original_title)">Watch trailer</button>
            </div>
  </div>
  </div>
  </div>
 
</div>

<!-- popular movies  -->

<div class="row pt-2 px-2 text-white " style="background-color: gray;">
  <h6>Popular Movies</h6>
  <!-- <div class="d-flex flex-nowrap overflow-x-auto"> -->
<div class="rowposter">
  <div class="col-md-2 mt-2 m-1 " *ngFor="let movie of PopularMovies?.results;let i=index">
<!-- <div class="rowposter"> -->

    <div class="card bg-dark"                                                                         >
          <img class="card-img-top" src="{{movie?.backdrop_path}}" alt="slide"(click)="movieByID(movie.id)">
            <div class="card-body">
             <h5 class="card-title">{{movie.title}}</h5>
             <p><span class="text-warning">Rating</span> : {{movie.vote_average}}</p>
             <p>Language : <span class="p-1" style="background-color: #424242;"><b> {{movie.original_language}}</b></span></p>
             <button class="btn btn-outline-info" (click)="iFrameVideo(movie.original_title)">Watch trailer</button>

            </div>
    </div>
    </div>
  <!-- </div> -->
  </div>
<!-- </div> -->

</div>


<!-- <div class="row px-2 text-white" style="background-color: gray;">
  <h6>Popular Movies</h6>
  <div class="col-md-12">
    <div class="d-flex flex-nowrap overflow-x-auto" style="height: 320px;">
      <div class="col-md-2" *ngFor="let movie of PopularMovies?.results;let i=index">
        <div class="card bg-dark">
          <img class="card-img-top" src="{{movie?.backdrop_path}}" alt="slide">
          <div class="card-body">
            <h5 class="card-title">{{movie.title}}</h5>
            <p><span class="text-warning">Rating</span> : {{movie.vote_average}}</p>
            <p>Language : <span class="p-1" style="background-color: #424242;"><b> {{movie.original_language}}</b></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- Upcoming movies  -->

<div class="row  pt-2 px-2 text-white" style="background-color: gray;">
  <h6>Upcoming Movies</h6>
<div class="rowposter">

  <div class="col-md-2 mt-2 m-1"  *ngFor="let movie of Upcoming?.results;let i=index">
    <div class="card bg-dark" >
          <img class="card-img-top" src="{{movie?.backdrop_path}}" alt="slide" (click)="movieByID(movie.id)">
<div class="card-body">
             <h5 class="card-title">{{movie.title}}</h5>
             <p><span class="text-warning">Rating</span> : {{movie.vote_average}}</p>
             <p>Language : <span class="p-1" style="background-color: #424242;"><b> {{movie.original_language}}</b></span></p>
             <button class="btn btn-outline-info" (click)="iFrameVideo(movie.original_title)">Watch trailer</button>

            </div>
  </div>
  </div>
  </div>

</div>

<!-- Playing movies  -->

<div class="row  pt-2 px-2 text-white" style="background-color: gray;" >
  <h6>Now Playing Movies</h6>
<div class="rowposter">

  <div class="col-md-2 mt-2 m-1" *ngFor="let movie of PlayingMovies?.results;let i=index">
    <div class="card bg-dark" >
          <img class="card-img-top" src="{{movie?.backdrop_path}}" alt="slide" (click)="movieByID(movie.id)">
<div class="card-body">
             <h5 class="card-title">{{movie.title}}</h5>
             <p><span class="text-warning">Rating</span> : {{movie.vote_average}}</p>
             <p>Language : <span class="p-1" style="background-color: #424242;"><b> {{movie.original_language}}</b></span></p>
             <button class="btn btn-outline-info" (click)="iFrameVideo(movie.original_title)">Watch trailer</button>

            </div>
  </div>
  </div>
  </div>

</div>


<!-- TopRatedMovies movies  -->

<div class="row  pt-2 px-2 text-white" style="background-color: gray;">
  <h6>Top Rated Movies</h6>
<div class="rowposter">

  <div class="col-md-2 mt-2 m-1" *ngFor="let movie of TopRatedMovies?.results;let i=index">
    <div class="card bg-dark" >
          <img class="card-img-top" src="{{movie?.backdrop_path}}" alt="slide" (click)="movieByID(movie.id)">
<div class="card-body">
             <h5 class="card-title">{{movie.title}}</h5>
             <p><span class="text-warning">Rating</span> : {{movie.vote_average}}</p>
             <p>Language : <span class="p-1" style="background-color: #424242;"><b> {{movie.original_language}}</b></span></p>
             <button class="btn btn-outline-info" (click)="iFrameVideo(movie.original_title)">Watch trailer</button>

            </div>
  </div>
  </div>
  </div>

</div>

<!-- original movies  -->

<!-- <div class="row  pt-2 px-2 text-white" style="background-color: gray;">
  <h6>Original Movies</h6>
<div class="rowposter">

  <div class="col-md-2 mt-2 m-1" *ngFor="let movie of Originals?.results;let i=index">
    <div class="card bg-dark" >
          <img class="card-img-top" src="{{movie?.backdrop_path}}" alt="slide" (click)="movieByID(movie.id)">
  <div class="card-body">
             <h5 class="card-title">{{movie.title}}</h5>
             <p><span class="text-warning">Rating</span> : {{movie.vote_average}}</p>
             <p>Language : <span class="p-1" style="background-color: #424242;"><b> {{movie.original_language}}</b></span></p>
             <button class="btn btn-outline-info" (click)="iFrameVideo(movie.original_title)">Watch trailer</button>

            </div>
  </div>
  </div>
</div>
</div> -->

</div>