
<!-- <div class="container"> -->
  
    <nav class="navbar navbar-expand-lg bg-dark py-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SHOWTIME</a>
      </div>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link">Search</a>
          </li> -->
        
        </ul>
      </div>
    </nav>
    <ngx-spinner type="ball-scale-multiple">
      <p class="loading text-white ">Please wait.......</p>
    </ngx-spinner>
  <!-- </div> -->
<router-outlet></router-outlet>