*{
    margin: 0;
    padding: 0;
}
// nav{
//     display: block;
// }
.navbar-brand{
    font-size: 28px;
    color: white;
  text-shadow: 2px 2px 4px #cf0b0b;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: white;
  text-shadow: 2px 2px 4px  #cf0b0b;
    font-weight: 500;
  }
// .navbar{
//     position: relative;
// }
